<nav class="navbar navbar-expand-lg arya uppercase bg-primary py-0 navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/LAdC_tasse_c.svg" alt="" width="118" height="89">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% for nav in site.data.settings.navigation %}
          {% if page.url == nav.url %}
           {% assign current_page = true %}
          {% else %}
           {% assign current_page = false %}
          {% endif %}
          <li>
            <a class="nav-link {% if current_page %}active {% endif %}fs-4" {% if current_page %}aria-current="page" {% endif %}href="{{ nav.url }}">{{ nav.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
