<section class="bg-dark py-5">
    <div class="container">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget pharetra velit, dapibus bibendum ex. Maecenas vitae laoreet mauris, ac luctus metus. Aliquam luctus velit vel ipsum feugiat, vel venenatis mauris hendrerit. Sed at vulputate sapien, eget vehicula dolor. Aliquam volutpat pulvinar neque sit amet sodales.</p>
        <p class="uppercase text-center">Retrouvez nos produits sur amazon, suivez-nous sur les réseaux</p>
        <div class="socials col-4 d-flex mx-auto justify-content-around">
            {% for social in site.data.settings.socials %}
            <div>
                <a href="{{ social.url }}" class="col-7">
                    <img src="{{ social.icon }}" width=30 height=30 alt="" class="img-fluid">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
