<section class="bg-dark py-5">
    <div class="container">
        <p class="text-center">La passion de la dégustation et de la découverte de nouvelles saveurs nous amène à vous proposer des produits et créations tout à fait originales. Imaginées en Ardèche par deux acolytes assoiffées de boissons chaudes été comme hiver ! Comptez sur nous pour vous proposer le meilleur.</p>
        <p class="uppercase text-center">Suivez-nous sur instagram</p>
        <div class="socials col-4 d-flex mx-auto justify-content-around">
            {% for social in site.data.settings.socials %}
            <div>
                <a href="{{ social.url }}" target="_blank" class="col-7">
                    <img src="{{ social.icon }}" width=30 height=30 alt="" class="img-fluid">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
